
<div class="home_page_header">
    <div class="home_page_header_title">
        Simple Crude Operation...
    </div>
   
    <div class="home_page_header_btn button btn" (click)='handleFormOpen()'>
        Add New User
    </div>
</div>
<div class="home_page_body">
    <div class="form_header header_nav">
        <div class="header_column">
            Name
        </div>
        
        <div class="header_column">
           Id
        </div>
        <div class="header_column">
            Email
         </div>
         <div class="header_column">
            Gender
         </div>
        </div>
        <div class="form_body" >
            <div class="form_body_row" *ngFor='let product of products'>
            <div class="form_body_item name"><a [routerLink]="['/detail',product.id]">{{product.name}}</a></div>
            <div class="form_body_item username"><a [routerLink]="['/detail',product.id]">{{product.id}}</a></div>
            <div class="form_body_item email"><a [routerLink]="['/detail',product.id]">{{product.email}}</a></div>
            <div class="form_body_item gender"><a [routerLink]="['/detail',product.id]">{{product.gender}}</a></div>
            </div>
            
            
        
        
        </div>
</div>
<div class="home_page_form_wrapper" *ngIf="openForm">
    
    <div class="home_page_form_container">
        <div class="closeBtn" (click)="handleCloseBtn()">
            x
        </div>
        <label for="name" >Enter Your name</label>
        <input type="text" name="address" [(ngModel)]="nameField" ngDefaultControl/>
        <label for="email">Enter Your Email</label>
        <input type="email" name="email" [(ngModel)]="emailField" ngDefaultControl />
        <label for="phone">Enter Your Mobile Number</label>
        <input type="text" name="phone" [(ngModel)]="mobileField" ngDefaultControl />
        <label for="company">Enter Your Company Name</label>
        <input type="text" name="company" [(ngModel)]="companyField" ngDefaultControl/>  
        <label for="address">Enter Your Address</label>
        <input type="text" name="Address" [(ngModel)]="addressField" ngDefaultControl/>
        <div class="form_btns">
            <div class="edit_btn btn" (click)="handleSubmit()">
                Submit
            </div>
            
        </div>
        
    </div>
    
    
</div>

  
  