a{
    text-decoration: none;
    color:rgba(0, 0, 0, 0.7)
}
.home_page_header{
    display: flex;
    align-items: center;
    
}
.home_page_header_title{
    padding: 25px 5px;
    font-size: 30px;
}
.home_page_header_btn{
    margin-left: auto;
    margin-right: 10px;
}
.header_nav{
    display: flex;
    justify-content: space-evenly;
    font-size: 14px;
    padding: 5px;
    background-color: #ccc7c7;
}
.header_column{
    flex-basis: 25%;
    overflow-x: hidden;
}
.form_body{
    padding-top:10px ;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.form_body_row{
    display: flex;
    justify-content: space-evenly;

}
.form_body_item{
    flex-basis: 25%;
    overflow-x: hidden;
    padding: 5px;
}
.form_body_item:hover{
    background-color: #ccc7c7;
    cursor: pointer;
}
.btn{
    border-radius: 5px;
    background-color: skyblue;
    padding: 3px 7px;
    width: fit-content;
    height: fit-content;
    cursor: pointer;
}
.home_page_form_wrapper{
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsla(0, 0%, 0%, 0.3);

}
.home_page_form_container{
padding: 60px 0px;
position: absolute;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 10px;
min-height: fit-content;
min-width: fit-content;
width:35%;
width: 35%;
background-color: #e9e9e9;
border-radius:10px ;
}
.edit_btn{
    color:#934cee;
    border:1px solid #934cee;
    margin-top: 12px;
}

.edit_btn:hover{
    color: #ffffff;
    background-color:#934cee;
    transition: 0.2s ease-in-out;
}

.closeBtn{
    border: 1px solid black ;
    border-radius: 50%;
    padding: 4px 10px;
    position:absolute;
    top: -9px;
    right: -9px;
    background-color: rgb(19, 18, 18);
    color: white;
    cursor: pointer;
}
.closeBtn:hover{
    color: #ffffff;
    background-color:#934cee;
    transition: 0.2s ease-in-out;
    border: 1px solid #934cee ;
}
.form_btns{
    display: flex;
    gap: 10px;
}